* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 12vh;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    background-color: var(--buttons-primary-color);
}

.navbar li {
    list-style: none;
}

.navbar a {
    color: var(--text-color-buttons);
    font-size: 1.5em;
    font-family: var(--heading-font);
    text-decoration: none;
}
