<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Proyecto</title>
    <link rel="stylesheet" href="../css_MiPerfil/basic_style.css">
    <link rel="stylesheet" href="../css_MiPerfil/editar_style.css">

</head>
<body>

    <header>
        <div class="logo" id="home">Nombre Proyecto</div>
        <button class="menu-toggle" aria-label="Abrir menú">&#9776;</button> <!-- Icono hamburguesa -->
        <nav class="nav-menu">
            <ul>
                <li><a href="/BuscadorIntershipsV2">Interns</a></li>
                <li><a href="/verMiPerfil">Mi Perfil</a></li>
                <li><a href="#avisos" id="abrir-modal">Avisos</a></li> <!-- ID para manejar el evento -->
                <li><a href="/ExplorarEntrevistadores">Explorar</a></li>
                <li><a href="/listaPublicaciones">Blog</a></li>
                <li><a href="/ProblemasProgramacionCompetitiva">Problemas</a></li>
            </ul>
        </nav>
    </header>

    <!-- Modal -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close-button" id="cerrar-modal">&times;</span> <!-- Botón de cierre -->
            <h2>Avisos</h2>
            <div id="avisos_contenedor">
                <p>Este es el contenido del modal de avisos.</p>
            </div>
        </div>
    </div>
    
    <!-- Cuerpo principal -->
    <main id="main-content">
        <!-- Columna izquierda -->
        <section class="perfil">
            <div id="contenedor_foto" style="background-image: url('<%= it.usuario.direccionURLFotoBackground %>');">

                <div class="foto">
                    <div id="contenedor_foto_perfil">
                        <img src="<%= it.usuario.direccionURLFotoPerfil %>" 
                        alt="Foto de perfil" id="foto_perfil">
                    </div>
                </div>
            </div>
            
            <div id="contenedor_selector_imagen">
                <div>
                    <button id="cambiar_background_btn">Cambiar Background</button>
                    <input type="file" id="backgroung_img" accept="image/*" style="display: none;">
                    <button id="cambiar_perfil_btn">Cambiar imagen de perfil</button>
                    <input type="file" id="perfil_img" accept="image/*" style="display: none;">
                </div>
            </div>

            <h1 id="nombre_usuario"><%= it.usuario.nombreUsuario %></h1>

                <div id="info_personal_inputs">
                    <div>
                        <input 
                            type="text" 
                            name="rol" 
                            id="rol" 
                            class="sobre_mi"
                            maxlength="20" 
                            value="<%= it.usuario.titularUsuario %>"
                            required
                        >
                    </div>
                    <div>
                        <textarea 
                            name="sobre_mi" 
                            id="sobre_mi" 
                            class="sobre_mi"
                            maxlength="150" 
                            rows="5" 
                            cols="33"
                            required><%= it.usuario.descripcionUsuario %></textarea>
                    </div>
                </div>

                <p class="puntuacion">Esto será calculado en base a algo</p>

                <!-- Botones para guardar o cancelar -->
                <button type="submit" id="guardar_btn">Guardar</button>
                <a href="/verMiPerfil"><button type="button" id="cancelar_btn">Cancelar</button></a>
        </section>

        <!-- Columna derecha -->
        <section class="detalles">
            <div class="certificados">
                <h3>Links</h3>
                </li>
                <ul id="mis_redes">
                    <li class="red_social">
                        <div class="elemento">
                            <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" width="50" alt="">
                            <input class="miLink" id="linkLinkendin" type="text" value="<%= it.usuario.linksUsuario.linkLinkendin %>" placeholder="LinkedLn">
                        </div>
                    </li>
                    <li class="red_social">
                        <div class="elemento">
                            <img src="https://avatars.githubusercontent.com/u/9919?s=200&v=4" width="50" alt="">
                            <input class="miLink" id="linkGithub" type="text" value="<%= it.usuario.linksUsuario.linkGithub %>" placeholder="GitHub">
                        </div>
                    </li>
                    <li class="red_social">
                        <div class="elemento">
                            <img src="https://cdn-icons-png.flaticon.com/512/1006/1006771.png" width="50" alt="">
                            <input class="miLink" id="linkPortafolioPersonal" type="text" value="<%= it.usuario.linksUsuario.linkPortafolioPersonal %>" placeholder="Portafolio">
                        </div>
                    </li>
                </ul>
            </div>
            <div class="resenas">
                <h3>Reseñas</h3>
                <% it.usuario.reseniasUsuario.forEach(function(resenia) { %>
                    <p><%= it.usuario.resenia.nombreUsuarioResenador %>: <%= it.usuario.resenia.contenidoResenia %> - Calificación: <%= it.usuario.resenia.calificacionResenia %></p>
                <% }); %>
            </div>
        </section>
    </main>

    <script src="../js_MiPerfil/basic.js"></script>
    <script src="../js_MiPerfil/editar_perfil.js"></script>

</body>
</html>