<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Proyecto</title>
    <link rel="stylesheet" href="../css_MiPerfil/basic_style.css">
    <link rel="stylesheet" href="../css_MiPerfil/ver_style.css">
</head>
<body>

    <header>
        <a id="home" href="/home"><div class="logo" id="home">Nombre Proyecto</div></a>
        <button class="menu-toggle" aria-label="Abrir menú">&#9776;</button> <!-- Icono hamburguesa -->
        <nav class="nav-menu">
            <ul>
                <li><a href="/BuscadorIntershipsV2">Interns</a></li>
                <li><a href="/verMiPerfil">Mi Perfil</a></li>
                <li><a href="#avisos" id="abrir-modal">Avisos</a></li> <!-- ID para manejar el evento -->
                <li><a href="/ExplorarEntrevistadores">Explorar</a></li>
                <li><a href="/listaPublicaciones">Blog</a></li>
                <li><a href="/ProblemasProgramacionCompetitiva">Problemas</a></li>
            </ul>
        </nav>
    </header>

    <!-- Modal -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close-button" id="cerrar-modal">&times;</span> <!-- Botón de cierre -->
            <h2>Avisos</h2>
            <div id="avisos_contenedor">
            </div>
        </div>
    </div>
    
    <main>
        <!-- Columna izquierda -->
        <section class="perfil">
            <div id="contenedor_foto" style="background-image: url('<%= it.usuario.direccionURLFotoBackground %>');">
                <div class="foto">

                    <% if (it.usuario.datosPersonalesUsuario.direccionURLFotoPerfil == "") { %>
                        <div id="contenedor_foto_perfil">
                            <img src="https://static.vecteezy.com/system/resources/previews/005/544/718/non_2x/profile-icon-design-free-vector.jpg" 
                            alt="Foto de perfil" id="foto_perfil">
                        </div>
                    <% } else { %>
                        <div id="contenedor_foto_perfil">
                            <img src="<%= it.usuario.datosPersonalesUsuario.direccionURLFotoPerfil %>" 
                            alt="Foto de perfil" id="foto_perfil">
                        </div>
                    <% } %>


                    <% if (it.esMiPerfil) { %>                 
                        <div id="btn_editar" title="Editar Perfil">
                            <a href="/verEditarDatosPerfil"><img src="../img_MiPerfil/editar.png" alt="Foto de perfil"></a>
                        </div>
                    <% } %>
                    
                </div>
            </div>
            <h1><%= it.usuario.nombreUsuario %> <%= it.usuario.apellidoUsuario %></h1>
            <h2 class="sobre_mi" id="rol"><%= it.usuario.datosPersonalesUsuario.titularUsuario %></h2>
            <p class="sobre_mi" id="sobre_mi"><%= it.usuario.datosPersonalesUsuario.descripcionUsuario %></p>
            <p class="puntuacion">Puntuación: 4.5</p>

            
            <% if (!it.esMiPerfil) { %>                 
                <a href="/reservacionEntrenador?perfil=<%= it.usuario._id %>"><button class="agregar-btn">Agendar</button></a>
            <% } %>

        </section>

        <!-- Columna derecha -->
        <section class="detalles">
            <div class="certificados">
                <h3>Links</h3>
                <ul id="mis_redes">

                    <% if (it.usuario.datosPersonalesUsuario.linksUsuario.linkLinkendin !== "") { %>                 
                        <li class="red_social">
                            <div class="elemento">
                                <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" width="50" alt="">
                                <p><a href="<%= it.usuario.datosPersonalesUsuario.linksUsuario.linkLinkendin %>">LinkedIn</a></p>
                            </div>
                        </li>
                    <% } %>

                    <% if (it.usuario.datosPersonalesUsuario.linksUsuario.linkGithub !== "") { %>                 
                        <li class="red_social">
                            <div class="elemento">
                                <img src="https://avatars.githubusercontent.com/u/9919?s=200&v=4" width="50" alt="">
                                <p><a href="<%= it.usuario.datosPersonalesUsuario.linksUsuario.linkGithub %>">GitHub</a></p>
                            </div>
                        </li>
                    <% } %>

                    <% if (it.usuario.datosPersonalesUsuario.linksUsuario.linkPortafolioPersonal !== "") { %>                 
                        <li class="red_social">
                            <div class="elemento">
                                <img src="https://cdn-icons-png.flaticon.com/512/1006/1006771.png" width="50" alt="">
                                <p><a href="<%= it.usuario.datosPersonalesUsuario.linksUsuario.linkPortafolioPersonal %>">Mi Pagina!</a></p>
                            </div>
                        </li>
                    <% } %>
                </ul>
            </div>
            <div class="resenas">
                <h3>Reseñas</h3>
                <% it.usuario.reseniasUsuario.forEach(function(resenia) { %>
                    <p><%= it.usuario.resenia.nombreUsuarioResenador %>: <%= it.usuario.resenia.contenidoResenia %> - Calificación: <%= it.usuario.resenia.calificacionResenia %></p>
                <% }); %>
            </div>
        </section>
    </main>

    <script src="../js_MiPerfil/basic.js"></script>

</body>
</html>
