<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leer Blog</title>
    <link rel="stylesheet" href="../../../../Ejemplos/ELEMENTOS_BASICOS/css/basic_style.css">
    <link rel="stylesheet" href="../css_Blog/lecturaPublicacionBlog_styles.css">
    <link rel="stylesheet" href="/css_global/navbar.css" />
    <script src="/js_global/navbar.js" defer></script>
</head>
<body>

    <%= it.navbar %>

    <!-- Información de la publicación -->
    <div class="infoPublicacion">
        <div id="titulo">
            <h1><%= it.publicacion.tituloPublicacion %></h1>
        </div>
        <div id="descripcionPublicacion">
            <p><b>Fecha de Publicación:</b> <%= it.publicacion.fechaPublicacion %></p>
            <p><b>Autor:</b> <%= it.publicacion.autorPublicacion %></p>
            <p><b>Etiquetas:</b> <%= it.publicacion.etiquetasPublicacion %></p>
        </div>
    </div>

    <div id="contenidoPublicacion">
        <p><%= it.publicacion.contenidoPublicacion %></p>
    </div>
    <%= it.footer %>

</body>
</html>
