<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leer Blog</title>
    <link rel="stylesheet" href="../../../../Ejemplos/ELEMENTOS_BASICOS/css/basic_style.css">
    <link rel="stylesheet" href="../css_Blog/lecturaPublicacionBlog_styles.css">
    <link rel="stylesheet" href="/css_global/navbar.css" />
    <script src="/js_global/navbar.js" defer></script>
</head>
<body>

    <header>
        <div class="logo" id="home">Nombre Proyecto</div>
        <button class="menu-toggle" aria-label="Abrir menú">&#9776;</button> <!-- Icono hamburguesa -->
        <nav class="nav-menu">
            <ul>
                <li><a href="/BuscadorIntershipsV2">Interns</a></li>
                <li><a href="/verMiPerfil">Mi Perfil</a></li>
                <li><a href="#avisos" id="abrir-modal">Avisos</a></li> <!-- ID para manejar el evento -->
                <li><a href="/ExplorarEntrevistadores">Explorar</a></li>
                <li><a href="/listaPublicaciones">Blog</a></li>
                <li><a href="/ProblemasProgramacionCompetitiva">Problemas</a></li>
            </ul>
        </nav>
    </header>

    <!-- Modal -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close-button" id="cerrar-modal">&times;</span>
            <h2>Avisos</h2>
            <div id="avisos_contenedor">
                <p>Este es el contenido del modal de avisos.</p>
            </div>
        </div>
    </div>

    <!-- Información de la publicación -->
    <div class="infoPublicacion">
        <div id="titulo">
            <h1><%= it.publicacion.tituloPublicacion %></h1>
        </div>
        <div id="descripcionPublicacion">
            <p><b>Fecha de Publicación:</b> <%= it.publicacion.fechaPublicacion %></p>
            <p><b>Autor:</b> <%= it.publicacion.autorPublicacion %></p>
            <p><b>Etiquetas:</b> <%= it.publicacion.etiquetasPublicacion %></p>
        </div>
    </div>

    <div id="contenidoPublicacion">
        <p><%= it.publicacion.contenidoPublicacion %></p>
    </div>

    <script src="../../../../Ejemplos/ELEMENTOS_BASICOS/js/basic.js"></script>
</body>
</html>
