<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Blogs</title>
    <link rel="stylesheet" href="../css_Blog/listaBlogs_styles.css">
    <link rel="stylesheet" href="/css_global/navbar.css" />
    <script src="/js_global/navbar.js" defer></script>
</head>
<body>

    <%= it.navbar %>


        <div class="titulo">Lista de Blogs</div>
        <div class="contenedor-blogs">
            <!-- Inicio del bloque dinámico -->
            <% it.publicaciones.forEach((blog) => { %>
            <div class="blog">
                <div class="titulo-blog">
                    <%= blog.tituloPublicacion %>
                </div>
                <div class="contenido-blog">
                    <div>
                        Autor: <%= blog.autorPublicacion %> <br>
                        Fecha de publicación: <%= blog.fechaPublicacion %>
                    </div>
                    <div class="boton-leer">
                        <a href="/lecturaPublicacionBlog?id=<%= blog._id %>">
                            <button>Leer</button>
                        </a>
                    </div>
                </div>
            </div>
            <% }); %>
            <!-- Fin del bloque dinámico -->
        </div>
        <%= it.footer %>


</body>
</html>
