:root {
    --color-negro: #000000;
    --azul-cielo: #7890a8;
    --azul-medio: #304878;
    --azul-rey: #181848;
    --naranja: #f0a818;
}

body {
    margin: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: var(--azul-rey);
}

.titulo{
    font-size: 30px;
    margin-bottom: 20px;
    color: white;
    font-style: italic;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f9f9f9;
}

th, td {
    padding: 12px;
    text-align: center;
}

td{
    font-size: 17px;
}

th {
    background-color: var(--naranja);
    color: var(--color-negro);
    font-size: 20px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

@media (max-width: 768px) {
    table {
        font-size: 14px;
    }
}