<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página Protegida</title>
  </head>
  <body>
    <h2>Página Protegida</h2>
    <% if (it.user) { %>
    <h3>Datos del Usuario</h3>
    <ul>
      <% for (const key in it.user) { %>
      <li><strong><%= key %>:</strong> <%= it.user[key] %></li>
      <% } %>
    </ul>
    <% } else { %>
    <p>Usuario no identificado.</p>
    <% } %>
  </body>
</html>
