<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css_PanelAdministrador/panelProblemasCompetitiva_styles.css">
    <title>Buscador</title>
    <script src="../js_PanelAdministrador/panelProblemasCompetitiva.js" defer></script>
    <link rel="stylesheet" href="/css_global/navbar.css" />
    <script src="/js_global/navbar.js" defer></script>
</head>
<body>

  <header>
    <div class="logo" id="home">Nombre Proyecto</div>
    <button class="menu-toggle" aria-label="Abrir menú">&#9776;</button> <!-- Icono hamburguesa -->
    <nav class="nav-menu">
        <ul>
            <li><a href="/BuscadorIntershipsV2">Interns</a></li>
            <li><a href="/verMiPerfil">Mi Perfil</a></li>
            <li><a href="#avisos" id="abrir-modal">Avisos</a></li> <!-- ID para manejar el evento -->
            <li><a href="/ExplorarEntrevistadores">Explorar</a></li>
            <li><a href="/listaPublicaciones">Blog</a></li>
            <li><a href="/ProblemasProgramacionCompetitiva">Problemas</a></li>
        </ul>
    </nav>
</header>

  <!-- Modal -->
  <div id="modal" class="modal">
    <div class="modal-content">
        <span class="close-button" id="cerrar-modal">&times;</span> <!-- Botón de cierre -->
        <h2>Avisos</h2>
        <div id="avisos_contenedor">
            <p>Este es el contenido del modal de avisos.</p>
            <p>Este es el contenido del modal de avisos.</p>
            <p>Este es el contenido del modal de avisos.</p>
            <p>Este es el contenido del modal de avisos.</p>
        </div>
    </div>
  </div>

  <!-- Modal agregar problema -->
  <div id="modal-agregar-problema" class="modal-agregar-problema">
    <div class="modal-agregar-problema-content">
        <div class="modal-agregar-problema-header">
            <h2>Información del Problema</h2>
            <span class="close-button" id="cerrar-modal-agregar-problema">&times;</span>
        </div>
        <div class="modal-agregar-problema-body">
            <form id="reunion-form">
                <div class="form-group">
                    <label for="nombre-problema">Nombre del Problema</label>
                    <input type="text" id="nombre-problema-agregar" name="nombre-problema" placeholder="Nombre del Problema">
                </div>
                <div class="form-group">
                    <label for="plataforma">Plataforma</label>
                    <select id="plataforma-agregar" name="plataforma">
                      <% it.plataformas.forEach(plataforma => { %> 
                        <option value="<%= plataforma.idPlataforma %>"><%= plataforma.nombrePlataforma %></option>
                      <% }); %>
                    </select>
                </div>
                <div class="form-group">
                  <label for="dificultad">Dificultad</label>
                  <select id="dificultad-agregar" name="dificultad">
                      <option value="1">Fácil</option>
                      <option value="2">Intermedio</option>
                      <option value="3">Difícil</option>
                  </select>
              </div>
                <div class="form-group">
                    <label for="categorias">Categorias</label>
                    <div class="lista-categorias">
                      <% it.categorias.forEach(categoria => { %>
                      <div class="categoria-agregar" data-id="<%= categoria.idCategoria %>-agregar">
                          <input type="checkbox" name="seleccion-categoria" id="<%=categoria.nombreCategoria%>-agregar" value="<%= categoria.idCategoria %>">
                          <label for="categoria-<%= categoria %>-agregar"><%= categoria.nombreCategoria %></label>
                      </div>
                      <% }); %>
                  </div>                  
                </div>
                <div class="form-group">
                    <label for="link-problema">Link del Problema</label>
                    <input type="text" id="link-problema-agregar" name="link-problema" placeholder="Link del Problema">
                </div>
            </form>
        </div>
        <div class="modal-agregar-problema-footer">
            <button class="cancel" id="cancelar-agregar-problema">Cancelar</button>
            <!-- <button class="delete" id="eliminar-agregar-problema">Eliminar</button> -->
            <button class="accept" id="aceptar-agregar-problema" onclick="agregarProblema()">Aceptar</button>
        </div>
    </div>
  </div>   

  <% it.problemas.forEach(problema => { %>
    <div id="modal-modificar-problema-<%= problema.idProblema %>" class="modal-modificar-problema">
        <div class="modal-modificar-problema-content">
            <div class="modal-modificar-problema-header">
                <h2>Información del Problema</h2>
                <!-- ID del botón de cierre único -->
                <span class="close-button" id="cerrar-modal-modificar-problema-<%= problema.idProblema %>">&times;</span>
            </div>
            <div class="modal-modificar-problema-body">
                <form id="reunion-form-<%= problema.idProblema %>">
                    <div class="form-group">
                        <input type="hidden" id="id-problema-<%= problema.idProblema %>" name="id-problema" value="<%= problema.idProblema %>">
                    </div>
                    <div class="form-group">
                        <label for="nombre-problema-<%= problema.idProblema %>">Nombre del Problema</label>
                        <input type="text" id="nombre-problema-<%= problema.idProblema %>" name="nombre-problema" value="<%= problema.nombreProblema %>">
                    </div>
                    <div class="form-group">
                        <label for="plataforma-<%= problema.idProblema %>">Plataforma</label>
                        <select id="plataforma-<%= problema.idProblema %>" name="plataforma">
                            <% it.plataformas.forEach(plataforma => { %> 
                              <option value="<%= plataforma.idPlataforma %>" <%= problema.plataformaProblema === plataforma.nombrePlataforma ? "selected" : "" %>><%= plataforma.nombrePlataforma %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="form-group">
                      <label for="dificultad-<%= problema.idProblema %>">Dificultad</label>
                      <select id="dificultad-<%= problema.idProblema %>" name="dificultad">
                          <% it.dificultades.forEach(dificultad => { %> 
                            <option value="<%= dificultad.idDificultad %>" <%= problema.dificultadProblema === dificultad.nombreDificultad ? "selected" : "" %>><%= dificultad.nombreDificultad %></option>
                          <% }); %>
                      </select>
                    </div>
                    <div class="form-group">
                        <label for="categorias-<%= problema.idProblema %>">Categorias</label>
                        <div class="lista-categorias">
                          <% it.categorias.forEach(categoria => { %>
                          <div class="categoria" data-id="<%= problema.idProblema %>">
                              <input type="checkbox" name="seleccion-categoria" id="<%= categoria.nombreCategoria %>-<%= problema.idProblema %>" value="<%= categoria.idCategoria %>">
                              <label for="<%= categoria.nombreCategoria %>-<%= problema.idProblema %>"><%= categoria.nombreCategoria %></label>
                          </div>
                          <% }); %>
                          <% problema.categoriasProblema.forEach(categoria => { %>
                            <script>
                              document.getElementById("<%= categoria %>-<%= problema.idProblema %>".trim()).checked = true;
                            </script>  
                          <% }); %>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="link-problema-<%= problema.idProblema %>">Link del Problema</label>
                        <input type="text" id="link-problema-<%= problema.idProblema %>" name="link-problema" value="<%= problema.urlProblema %>">
                    </div>
                </form>
            </div>
            <div class="modal-modificar-problema-footer">
                <!-- IDs únicos para los botones -->
                <button class="cancel" id="cancelar-modificar-problema-<%= problema.idProblema %>">Cancelar</button>
                <button class="delete" id="eliminar-modificar-problema-<%= problema.idProblema %>" onclick="eliminarProblema(<%= problema.idProblema %>)">Eliminar</button>
                <button class="accept" id="aceptar-modificar-problema-<%= problema.idProblema %>" onclick="modificarProblema(<%= problema.idProblema %>)">Aceptar</button>
            </div>
        </div>
    </div>
    <% }); %>    

  <main id="main-content">

    <div class="buscador">
      <input 
        type="text" 
        placeholder="Buscar..." 
        class="input-buscar" 
        id="buscarProblema"
      />
      <button class="btn-buscar" onclick="buscarProblema()">
        🔍
      </button>
    </div>

    <div class="agregar-problema">
      <button id="agregar-problema">+ Agregar Problema</button>
    </div>
  
    <div class="encabezado-problemas">Problema</div>
  
    <div class="contenedor-problemas">
      <% it.problemas.forEach(problema => { %>
        <div class="problema" data-id="<%= problema.idProblema %>">
          <div class="titulo-problema"> <i><%= problema.nombreProblema %></i> </div>
            <div class="descripcion-problema">
              <div class="plataforma">Plataforma: <%= problema.plataformaProblema %> </div>
              <div class="dificultad">Dificultad: <%= problema.dificultadProblema %></div>
              <div class="subtitulo">Categorías: </div>
              <div class="topicos">
                <% problema.categoriasProblema.forEach(categoria => { %>
                  <div class="tema"> <i><%= categoria %></i> </div>
                <% }); %>
              </div>
              <div class="link-problema">
                <a href="<%= problema.urlProblema %>" target="_blank">Ver problema</a>
              </div>
            </div>
        </div>
      <% }); %>
    </div>

  </main>
</body>
</html>
