body{
    margin: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.5;
    background-color: #023047;
    color:white;

}

.titulo-problema{
    font-size: 35px;
}

.contenedor-encabezado{
    background-color: #ccc;
    margin-bottom: 10px;
    padding: 20px;
    margin: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.encabezado-titulo{
    font-size: 20px;
    color: black;
}

.lista-topicos{
    font-size: 18px;
    margin-bottom: 20px;
}

.no-estilo{
    text-decoration: none;
}

.boton{    
    padding: 10px 15px;
    font-size: 16px;
    text-decoration: none;
    color: #023047; 
    border: 1px solid #023047;
    border-radius: 5px;
    background-color: transparent;
    transition: all 0.3s ease-in-out; 
    cursor: pointer;
}

.boton-topico:hover {
    background-color: #023047;
    color: #fff; /* Cambiar color del texto a blanco */
    transform: scale(1.05); /* Ampliación leve */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
}

.boton-problema:hover {
    background-color: #FFB703;
    color: black; /* Cambiar color del texto a blanco */
    transform: scale(1.05); /* Ampliación leve */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
}

.lista-topicos ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Espaciado entre los elementos de la lista */
.lista-topicos ul li {
    margin-top: 25px;
    margin-bottom: 25px;
}

.contenedor-solucion{
    display: flex;
    flex-direction: column;
}

.solucion-titulo{
    font-size: 20px;
    margin-bottom: 10px;
}

.contenedor-solucion div p {
    font-size: 18px;
    margin: 20px;
    line-height: 1.5;
}

.contenedor-solucion div ol li{
    font-size: 18px;
    margin: 20px;
    line-height: 1.5;
}

.complejidad{
    margin-top:20px;
    align-self: center;
    width: 50%;
    font-size:18px;
}

.codigo-contenedor {
    display:flex;
    position: relative;
    margin: 10px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    overflow: auto;
    width: 50%;
    align-self: center;
    color:black
}

pre {
    margin: 0;
    font-family: monospace;
    font-size: 14px;
    line-height: 1.5;
}


