<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css_Reuniones/ReservacionEntrenador_styles.css">
    <script src="../js_Reuniones/ReservacionEntrenador.js" defer></script>
    <title>Agendar Cita</title>
</head>
<body>

    <header>
        <a id="home" href="/home"><div class="logo" id="home">Nombre Proyecto</div></a>
        <button class="menu-toggle" aria-label="Abrir menú">&#9776;</button> <!-- Icono hamburguesa -->
        <nav class="nav-menu">
            <ul>
                <li><a href="/BuscadorIntershipsV2">Interns</a></li>
                <li><a href="/verMiPerfil">Mi Perfil</a></li>
                <li><a href="#avisos" id="abrir-modal">Avisos</a></li> <!-- ID para manejar el evento -->
                <li><a href="/ExplorarEntrevistadores">Explorar</a></li>
                <li><a href="/listaPublicaciones">Blog</a></li>
                <li><a href="/ProblemasProgramacionCompetitiva">Problemas</a></li>
            </ul>
        </nav>
    </header>

    <!-- Modal -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close-button" id="cerrar-modal">&times;</span> <!-- Botón de cierre -->
            <h2>Avisos</h2>
            <div id="avisos_contenedor">
                <p>Este es el contenido del modal de avisos.</p>
                <p>Este es el contenido del modal de avisos.</p>
                <p>Este es el contenido del modal de avisos.</p>
                <p>Este es el contenido del modal de avisos.</p>
            </div>
        </div>
    </div>

    <!-- Modal de reservacion -->
     <div id="modal-cita" class="modal-cita">
        <div class="modal-cita-content">
            <div class="modal-cita-header">
                <h2>Detalles de la Reunión</h2>
                <span class="close-button" id="cerrar-modal-cita">&times;</span>
            </div>
            <div class="modal-cita-body">
                <form id="reunion-form">
                    <div class="form-group">
                        <label for="tipo-reunion">Tipo de Reunión</label>
                        <select id="tipo-reunion" name="tipo-reunion">
                            <option value="tecnica">Entrevista Técnica</option>
                            <option value="comportamiento">Entrevista de Comportamiento</option>
                            <option value="revision">Revisión de Resume/CV</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="motivo">Motivo de la Reunión</label>
                        <input type="text" id="motivo" name="motivo" placeholder="Escribe el motivo">
                    </div>
                    <div class="form-group">
                        <label for="archivo-resume">Link Resume (opcional)</label>
                        <input type="link" id="archivo-resume" name="archivo-resume" placeholder="Link del archivo">
                    </div>
                    <div class="form-group">
                        <label for="comentarios">Comentarios Adicionales</label>
                        <textarea id="comentarios" name="comentarios" rows="4" placeholder="Escribe tus comentarios aquí"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-cita-footer">
                <button class="cancel" id="cancelar-cita">Cancelar</button>
                <button class="accept" id="aceptar-cita">Aceptar</button>
            </div>
        </div>
    </div>

    <!-- Modal de horario pendiente -->
    <div id="modal-cita-pendiente" class="modal-cita-pendiente">
        <div class="modal-cita-pendiente-content">
            <div class="modal-cita-pendiente-header">
                <h2>Detalles de la Reunión</h2>
                <span class="close-button" id="cerrar-modal-cita-pendiente">&times;</span>
            </div>
            <div class="modal-cita-pendiente-body">
                <form id="reunion-form">
                    <div class="form-group">
                        <label for="tipo-reunion">Tipo de Reunión</label>
                        <select id="tipo-reunion" name="tipo-reunion">
                            <option value="tecnica">Entrevista Técnica</option>
                            <option value="comportamiento">Entrevista de Comportamiento</option>
                            <option value="revision">Revisión de Resume/CV</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="motivo">Motivo de la Reunión</label>
                        <input type="text" id="motivo" name="motivo" placeholder="Motivo escrito previamente">
                    </div>
                    <div class="form-group">
                        <label for="archivo-resume">Link Resume (opcional)</label>
                        <input type="link" id="archivo-resume" name="archivo-resume" placeholder="Link del archivo">
                    </div>
                    <div class="form-group">
                        <label for="comentarios">Comentarios Adicionales</label>
                        <textarea id="comentarios" name="comentarios" rows="4" placeholder="Comentarios escritos previamente"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-cita-pendiente-footer">
                <button class="cancel" id="cancelar-cita-pendiente">Cancelar</button>
                <button class="delete" id="eliminar-cita-pendiente">Eliminar</button>
                <button class="accept" id="aceptar-cita-pendiente">Aceptar</button>
            </div>
        </div>
    </div>

    <!-- Modal de horario confirmado -->
    <div id="modal-cita-confirmado" class="modal-cita-confirmado">
        <div class="modal-cita-confirmado-content">
          <div class="modal-cita-confirmado-header">
            <h2>Detalles de la Reunión</h2>
            <span class="close-button" id="cerrar-modal-cita-confirmado">&times;</span>
          </div>
          <div class="modal-cita-confirmado-body">
            <!-- Formulario que envía los datos directamente al backend -->
            <form id="inscripcion-form" action="/inscribirme-reunion" method="POST">
                
                <input type="hidden"  id="idCandidatoRegistrado" value="<%= it.idUsuario %>">
              <div class="form-group">
                <label for="tipo">Tipo de Reunión</label>
                <input type="text" id="tipo" name="tipoDeReunion" />
              </div>
              <div class="form-group">
                <label for="motivo">Motivo de la Reunión</label>
                <input type="text" id="motivo" name="motivoDeLaReunion" />
              </div>
              <div class="form-group">
                <label for="archivo-resume">Link Resume</label>
                <input type="text" id="archivo-resume" name="linkResume" />
              </div>
              <div class="form-group">
                <label for="comentarios">Comentarios Adicionales</label>
                <textarea id="comentarios" name="comentariosAdicionales" rows="4"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-cita-confirmado-footer">
            <button class="cancel" id="cancelar-cita-confirmado">Cancelar</button>
            <button class="accept" id="aceptar-cita-confirmado" type="submit" form="inscripcion-form">
              Aceptar
            </button>
          </div>
        </div>
      </div>
         
    <!-- Modal de horario ocupado -->
    <div id="modal-cita-ocupado" class="modal-cita-ocupado">
        <div class="modal-cita-ocupado-content">
            <div class="modal-cita-ocupado-header">
                <h2>Información Reunión</h2>
                <span class="close-button" id="cerrar-modal-cita-ocupado">&times;</span>
            </div>
            <div class="modal-cita-confirmado-body">
                <form id="reunion-form">
                    <div class="form-group">
                        <label for="tipo-reunion">Este horario ya ha sido confirmado para otra persona, si la otra persona cancela la reunión hay posibilidades de que te acepten a ti</label>
                    </div>
                </form>
            </div>
            <div class="modal-cita-ocupado-footer">
                <button class="cancel" id="cancelar-cita-ocupado">Cancelar</button>
                <button class="accept" id="aceptar-cita-ocupado">Aceptar</button>
            </div>
        </div>
    </div>     
    
    <!-- Cuerpo principal -->
    <main id="main-content">
        <div class="calendario-container">
            <div class="perfil-coach">
                <img class="foto-perfil" src="<%= it.coachInfo.direccionURLFotoPerfil %>" alt="Foto de perfil">
                <h1>Calendario de <%= it.coachInfo.nombreUsuario %> <%= it.coachInfo.apellidoUsuario %></h1>
                <p><%= it.coachInfo.titularUsuario %></p>
            </div>
    
            <div class="calendario-container">
                
                <br>
                <br>
    
                <% const reunionesAgrupadas = {}; %>

<% it.reuniones.forEach(reunion => { 
    const fechaInicio = new Date(reunion.horaInicio);

    // Formatear los elementos de la fecha
    const diaSemana = fechaInicio.toLocaleDateString("es-ES", { weekday: "long" });
    const diaNumero = fechaInicio.getDate();
    const mesCompleto = fechaInicio.toLocaleDateString("es-ES", { month: "long" });

    // Construir el formato final
    const diaCompleto = `${diaSemana.charAt(0).toUpperCase() + diaSemana.slice(1)} ${diaNumero} de ${mesCompleto}`;

    const hora = fechaInicio.toLocaleTimeString("es-ES", { hour: "2-digit", minute: "2-digit", hour12: true });

    if (!reunionesAgrupadas[diaCompleto]) reunionesAgrupadas[diaCompleto] = {};
    if (!reunionesAgrupadas[diaCompleto][hora]) reunionesAgrupadas[diaCompleto][hora] = [];

    reunionesAgrupadas[diaCompleto][hora].push(reunion);
}); %>

<div class="dias-semana">
    <% Object.entries(reunionesAgrupadas).forEach(([diaCompleto, horarios]) => { %>
        <div class="dia-columna">
            <!-- Mostrar el formato completo del día -->
            <div id="fecha_<%= diaCompleto.replace(/ /g, "_") %>">
                <h4><%= diaCompleto %></h4>
            </div>
            <% Object.entries(horarios).forEach(([hora, reuniones]) => { %>
                <div 
                    class="horario" 
                    data-reuniones='<%= JSON.stringify(reuniones) %>'
                >
                    <span><%= hora %></span>

                    <!--SOLO HAY UNA REUNION X HORARIO (HORA)-->
                    <div class="<% 
                        if (reuniones[0].candidatosRegistrados.some(item => item.estadoReunion === 'pendiente' && item.idCandidatoRegistrado === it.idUsuario)) { 
                    %> 
                            horario_pendiente 
                    <% 
                        } else if (reuniones[0].candidatosRegistrados.some(item => item.estadoReunion === 'confirmada' && item.idCandidatoRegistrado !== it.idUsuario)) { 
                    %> 
                            horario_ocupado 
                    <%        
                        } else if (reuniones[0].candidatosRegistrados.some(item => item.estadoReunion === 'confirmada' && item.idCandidatoRegistrado === it.idUsuario)) { 
                    %>         
                            horario_confirmado  
                    <% 
                        } else { 
                    %> 
                            horario 
                    <% 
                        } 
                    %>">

                        👤 x <span><%= reuniones.reduce((total, r) => total + r.candidatosRegistrados.length, 0) %></span>
                    </div>
                </div>
            <% }); %>
        </div>
    <% }); %>
</div>

            </div>
        </div>
    </main>

</body>
</html>
