<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css_ExplorarEntrevistadores/explorar_styles.css">
    <title>Buscador</title>
</head>
<body>

    <div class="buscador">
        <input type="text" placeholder="Buscar..." class="input-buscar" id="input-buscar">
        <button class="btn-buscar">
            🔍
        </button>
    </div>

    <div class="encabezado-explorar">Explorar Coaches</div>

    <div class="contenedor-coaches">
        <% it.coaches.forEach(coach => { %>
            <div class="tarjeta-coach" onclick="window.location.href='/perfil_coach/<%= coach._id %>'">
                <div class="foto-perfil">
                    <img src="<%= coach.direccionURLFotoPerfil %>" alt="Foto de <%= coach.nombreUsuario %>">
                </div>
                <h3><%= coach.nombreUsuario %></h3>
                <p><%= coach.titularUsuario %></p>
                <p><a href="/perfil_coach/<%= coach._id %>">Ver perfil</a></p>
            </div>
        <% }); %>
    </div>
    

</body>
</html>
