<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Interships</title>
    <script src="../js_BuscadorInterships/BuscadorInterships.js"></script>
    <link rel="stylesheet" href="/css_global/navbar.css" />
    <script src="/js_global/navbar.js" defer></script>
    <link rel="stylesheet" href="../css_BuscadorInterships/TablaInterships_styles.css">

</head>
<body>

    <%= it.navbar %>
        <div class="buscador">
            <input 
            type="text" 
            placeholder="Buscar..." 
            class="input-buscar" 
            id="buscarProblema"
            />
            <button class="btn-buscar" onclick="buscarInterships()">
            🔍
            </button>
        </div>

        <p class="titulo"><b>Lista de Interships</b></p>

        <div class="contenedor-tabla">
            <table>
                <thead>
                    <tr>
                        <th>Rol</th>
                        <th>Locación</th>
                        <th>Compañía</th>
                        <th>Fuente</th>
                        <th>Fecha Publicado</th>
                    </tr>
                </thead>
                <tbody>
                    <% it.ofertas.forEach(oferta => { %>
                    <tr>
                        <td><%= oferta.rol %></td>
                        <td><%= oferta.locacion %></td>
                        <td><%= oferta.compania %></td>
                        <td><a href="<%= oferta.linkFuentePublicacion %>" target="_blank">Ver Publicación</a></td>
                        <td><%= oferta.fechaPosteado %></td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>  
        </div>

        <%= it.footer %>

</body>
</html>
