:root {
    --color-dorado: #f0a818;
    --color-azul-primario: #181848;
    --color-azul-secundario: #304878;
    --color-azul-terciario: #7890a8;
    --color-negro: #000000;
    --color-blanco: #ffffff;
}