<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css_ProblemasProgramacionCompetitiva/Buscador_styles.css">
    <title>Buscador</title>
</head>
<body>

    <div class="buscador">
        <input type="text" placeholder="Buscar..." class="input-buscar">
        <button class="btn-buscar">
            🔍
        </button>
    </div>

    <div class="encabezado-problemas">Problemas Diarios</div>

    <div class="contenedor-problemas">
        <% it.problemas.forEach(problema => { %>
            <div class="problema">
                <div class="titulo-problema"> <i><%= problema.nombreProblema %></i> </div>
                <div class="descripcion-problema">
                    <div class="plataforma">Plataforma: <%= problema.plataformaProblema %> </div>
                    <div class="dificultad">Dificultad: <%= problema.dificultadProblema %></div>
                    <div class="subtitulo">Categorías: </div>
                    <div class="topicos">
                        <% problema.categoriasProblema.forEach(categoria => { %>
                            <div class="tema"> <i><%= categoria %></i> </div>
                        <% }); %>
                    </div>
                    <div class="link-problema">
                        <a href="<%= problema.urlProblema %>" target="_blank">Ver problema</a>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>

</body>
</html>
