* {
    font-family: Arial, sans-serif;
}

/* Estilo general */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Estilo general del header */
header {
    display: flex;
    justify-content: space-between;
    height: 38px;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8b400;
    color: white;
}

header .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Barra de navegación */
.nav-menu ul {
    list-style: none;
    display: flex; /* Mostrar elementos en fila por defecto */
    gap: 15px;
    margin: 0;
    padding: 0;
}

.nav-menu ul li a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

/* Botón hamburguesa */
.menu-toggle {
    display: none; /* Ocultar el botón por defecto */
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
}

/* Estilos responsivos para pantallas pequeñas */
@media (max-width: 768px) {

    main {
        flex-direction: column; 
    }

    .menu-toggle {
        display: block; /* Mostrar el botón hamburguesa */
    }

    .nav-menu {
        opacity: 0; /* Ocultar el menú por defecto */
        position: absolute;
        top: 58px; /* Asegúrate de que esté debajo del header */
        left: 0;
        right: 0;
        background-color: #f8b400;
        border-bottom: solid 5px gray;
        padding: 10px 0;
        z-index: 1000;
        border-radius: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;

    }

    .nav-menu ul {
        flex-direction: column; /* Cambiar de fila a columna */
        align-items: center;
    }

    .nav-menu ul li:hover{
        font-weight: bold;
        transition: all 0.1s ease-in;
        font-size: larger;
    }

    .nav-menu.active {
        transition: all 0.2s ease-in-out; /* Controla la velocidad de la animación */
        opacity: 1; 
    }

}

/* Estilo general del modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed; /* Posición fija para flotar sobre la página */
    top: 0;
    left: 0;
    width: 100%; /* Cubre todo el ancho */
    height: 100%; /* Cubre toda la altura */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    z-index: 1001; /* Asegura que esté encima de todo */
}

/* Contenido del modal */
.modal-content {
    background: #fff; /* Fondo blanco */
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Sombra para destacar */
    max-height: 400px;
}


#avisos_contenedor{
    max-height: 280px;
    overflow: auto;
}

/* Botón de cierre */
.close-button {
    position: relative;
    font-size: 1.5em;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
}


/* Cuerpo principal */
main {
    display:flexbox;
    padding: 20px;
    gap: 20px;
}

#home{
    cursor: pointer;
}

:root {
    --color-negro: #000000;
    --azul-cielo: #7890a8;
    --azul-medio: #304878;
    --azul-rey: #181848;
    --naranja: #f0a818;
}

.buscador {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.input-buscar {
    background-color:  #f2f2f2;
    padding: 10px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 15px 0 0 15px;
    outline: none;
    width: 1000px;
}

.btn-buscar {
    padding: 10px;
    background-color: #007bff;
    border: 1px solid black;
    border-radius: 0 15px 15px 0;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-buscar:hover {
    background-color: #0056b3;
}

.encabezado-explorar{
    display:flex;
    justify-content: center;
    font-size: 30px;
    padding: 10px;
    color: black;
}

.contenedor-coaches {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.tarjeta-coach {
    width: 250px;
    border: 3px solid #f0a818;
    border-radius: 8px;
    overflow: hidden;
    background-color: #EEEEEE;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.tarjeta-coach:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.tarjeta-coach .foto-perfil {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #000000;
    margin: 15px auto 10px;
    /* box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); */
}

.tarjeta-coach .foto-perfil img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tarjeta-coach h3 {
    margin: 10px 0;
    font-size: 18px;
}

.tarjeta-coach a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.tarjeta-coach a:hover {
    text-decoration: underline;
}